[Desktop Entry]
Type=Application
Version=1.1
Name=Ludo
GenericName=Minimalist frontend for emulators
Exec=ludo
Icon=com.libretro.Ludo
Categories=Game;Emulator;
Terminal=false
StartupNotify=true
DBusActivatable=false
